input {
  file {
    path => "{{ riemann_log_dir }}/*.log"
    type => "riemann"
  }
{% if riemann_use_nginx %}
  file {
    path => "{{ riemann_nginx_log_dir}}/*.log"
    type => "riemann"
  }
{% endif %}
}