{%if riemann_use_tcp or riemann_use_udp %}
upstream riemann {
  server localhost:{% if riemann_use_tls %}{{riemann_tls_port}}{% else %}{{ riemann_tcp_port }}{% endif %};
}

server {
    listen      443 ssl;
    include     {{ riemann_nginx_ssl_params }};
    server_name {{ riemann_fqdn }};

    access_log  {{ riemann_nginx_log_dir }}/riemann.nginx.access.log;
    error_log   {{ riemann_nginx_log_dir }}/riemann.nginx.error.log;

    location / {
    	proxy_pass http{%if riemann_use_tls %}s{% endif %}://riemann;
	include {{ riemann_nginx_firewall_params }};
	include {{ riemann_nginx_proxy_params }};
    }
}
{% endif %}

{%if riemann_use_ws %}
upstream riemann_ws {
  server localhost:{{riemann_ws_port}};
}

server {
    listen      443 ssl;
    include     {{ riemann_nginx_ssl_params }};
    server_name {{ riemann_ws_fqdn }};

    access_log  {{ riemann_nginx_log_dir }}/riemann-ws.nginx.access.log;
    error_log   {{ riemann_nginx_log_dir }}/riemann-ws.nginx.error.log;

    location / {
    	proxy_pass http://riemann_ws;
	include {{ riemann_nginx_firewall_params }};
	include {{ riemann_nginx_proxy_params }};
        proxy_http_version 1.1;			      
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
{% endif %}
